In [1]:
from pycaret.arules import *

import pyodbc
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from random import randint

import warnings
warnings.filterwarnings("ignore")

In [2]:
## Conexion al DWH
cnxn = pyodbc.connect(
    driver='{SQL Server}',
    server='192.168.100.58',
    uid='bilectura',
    pwd='D1sp@p3l3s')
cursor = cnxn.cursor()
#cnxn.close()

In [46]:
codigo_SQL = "SELECT A.VTANUMDOC 'Documento', A.VTAPRDCOD AS 'Codigo producto', B.PRDNOM AS 'Nombre producto', DATEFROMPARTS(A.VTAANO, A.VTAMES, 1) AS 'Fecha', A.VTANIT AS 'Nit cliente', C.NITNOM AS 'Nombre cliente', A.DSTCOD AS 'Codigo distrito', SUM(A.VTAUNDINV) AS 'Unidades' FROM V_VTA_VTAHEC A LEFT JOIN DIM_PRODUCTOS B ON A.PRMCOD = B.PRMCOD AND A.VTAPRDCOD = B.PRDCOD LEFT JOIN DIM_NITS C ON A.VTANIT = C.NITNIT WHERE A.PRMCOD = 1 AND A.DSTCOD = 10 AND A.VTADCMCOD = 402 AND A.VTAANO >= 2021 GROUP BY A.VTANUMDOC, A.VTAPRDCOD, B.PRDNOM, DATEFROMPARTS(A.VTAANO, A.VTAMES, 1), A.VTANIT, C.NITNOM, A.DSTCOD HAVING SUM(A.VTAUNDINV) > 0"
codigo_SQL = "SELECT A.VTANUMDOC AS 'Documento', A.VTAPRDCOD AS 'Codigo producto', B.PRDNOM AS 'Nombre producto', DATEFROMPARTS(A.VTAANO, A.VTAMES, 1) AS 'Fecha', A.VTANIT AS 'Nit cliente', C.NITNOM AS 'Nombre cliente', A.DSTCOD AS 'Codigo distrito', SUM(A.VTAUNDINV) AS 'Unidades' FROM V_VTA_VTAHEC A LEFT JOIN DIM_PRODUCTOS B ON A.PRMCOD = B.PRMCOD AND A.VTAPRDCOD = B.PRDCOD LEFT JOIN DIM_NITS C ON A.VTANIT = C.NITNIT WHERE A.PRMCOD = 1 AND A.DSTCOD = 10 AND A.VTADCMCOD = 402 AND A.VTAANO >= 2022 AND A.VTAZNA <= 5 GROUP BY A.VTANUMDOC, A.VTAPRDCOD, B.PRDNOM, DATEFROMPARTS(A.VTAANO, A.VTAMES, 1), A.VTANIT, C.NITNOM, A.DSTCOD HAVING SUM(A.VTAUNDINV) > 0"

In [47]:
#Cargue de la data desde el ERP de Dispapeles y se guarda en df
cursor.execute(codigo_SQL)
rows = cursor.fetchall()
df = pd.DataFrame.from_records(rows, columns=[col[0] for col in cursor.description])

In [48]:
df

,Documento,Codigo producto,Nombre producto,Fecha,Nit cliente,Nombre cliente,Codigo distrito,Unidades
0,1463018,12753,PROPALCOTE ESMALTADO C2S GLOSS,2022-11-01,901401673,IMPREYA PUBLICIDAD SAS,10,1.000
1,1462486,20106,PH.JUMBO SCOTT BLANCO DH.4ROLX250MT,2022-10-01,860534277,NUEVAS EDICIONES S.A.S,10,1.000
2,1443778,27015,"BANNER BLANCO MATE13 OZ 2,2X50",2022-05-01,900655337,GRAPHIC CITY S.A.S,10,1.000
3,1458252,554,PROPALCOTE C1S S.B.S.,2022-09-01,800032769,GAMACOLOR EDITORIAL S.A.S,10,0.400
4,1469526,23637,KCP PAÑO IND WYPALL X-70 RR 6X1X88,2022-12-01,860534277,NUEVAS EDICIONES S.A.S,10,1.000
...,...,...,...,...,...,...,...,...
8767,1456907,1091,GRAPHICS REV. BLANCO CAL 16 CMPC MAULE,2022-09-01,900662607,LITOFORMAS Y ROLLOS S.A.S,10,0.400
8768,1470489,53054,TA.PAPEL QMC BCO. CFB GHS 24.1,2023-01-01,901083833,COOMPLEMENTO LITOGRAFICO S.A.S,10,144.000
8769,1466382,12873,PROPALCOTE ESMALTADO C2S GLOSS,2022-11-01,800032769,GAMACOLOR EDITORIAL S.A.S,10,4.400
8770,1464906,432,EARTH PACT NATURAL X 100 HOJAS,2022-11-01,900438464,OPR DIGITAL SAS,10,2.000
8771,1438987,838,REPROGRAF A.B. RESMILLA CARTA,2022-03-01,900850490,INDUSTRIAS GRAFICAS IMPRECOL SAS,10,30.000

In [49]:
s = setup(data= df,
            transaction_id= 'Codigo distrito',
            item_id= 'Codigo producto'
            )

In [50]:
model_1 = create_model()

MemoryError: cannot allocate array memory

In [ ]:
print(model_1.shape)

(0, 9)

In [17]:
model_1

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []